# Scharade backend example notebook

### **1. step:** import *Scharade* class

In [1]:
from matheUI_backend import Scharade

### **2. step:** create *Scharade* class object
The two parameters **data_folder_path** and **data_files** will be automatically filled with the variables in **matheUI/config/\_\_init\_\_.py**

You can add more datasets with adding the csv files in **data_folder_path** and add the file name in **data_files** in **matheUI/config/\_\_init\_\_.py**

In [2]:
scharade = Scharade()

### **3. step:** get data report

whole data

In [3]:
scharade.data_report()

data contains ['standard'] scharade sets
    standard:
        total words: 1290
        words per difficulty:
            diff 1: 276
            diff 2: 503
            diff 4: 367
            diff 8: 131
            diff 16: 13

get word sets

In [4]:
scharade.get_sets()

['standard']

get words dataframe

In [5]:
scharade.get_df("standard")

              WORD  DIFFICULTY
0              Aal           2
1           Abgase           2
2           Abitur           2
3           Ablauf           2
4      Ablufthaube           4
...            ...         ...
1285  überschlagen           1
1286   übertreiben           1
1287   α-Strahlung           8
1288   β-Strahlung           8
1289   γ-Strahlung           8

[1290 rows x 2 columns]

get difficulty of word

In [6]:
scharade.get_difficulty_of_word("standard", "Aal")

2

get words with difficulty

In [7]:
scharade.get_words_of_difficulty("standard", 1)

['Akkorde',
 'Aladin',
 'Apfel',
 'Aufladekabel',
 'Aufstand',
 'Augenlieder',
 'Backblech',
 'Bart',
 'Basketballkorb',
 'Baum',
 'Biber',
 'Bierkrug',
 'Bild',
 'Bildschirm',
 'Blumenkind',
 'Blumenstrauß',
 'Box',
 'Boxen',
 'Bratwurst',
 'Buch',
 'Butler',
 'Bürste',
 'Chemie',
 'Chemiker',
 'Chilli',
 'Crepes',
 'DJ',
 'Dauerwelle',
 'Degen',
 'Deo',
 'Dirigent',
 'Drache',
 'Drogen',
 'Dusche',
 'E-Scooter',
 'Einhorn',
 'Eis',
 'Elefant',
 'Engel',
 'Fahrrad',
 'Fahrradlicht',
 'Fenster',
 'Fernbedinung',
 'Feuerlöscher',
 'Feuerzeug',
 'Fingerschnipsen',
 'Fliege',
 'Flipchart',
 'Flugzeug',
 'Fuß',
 'Fußabtreter',
 'Föhn',
 'Gehirn',
 'Gel',
 'Geld',
 'Gießkanne',
 'Giraffe',
 'Gitter',
 'Glatze',
 'Glühbirne',
 'Glühwein',
 'Gorilla',
 'Haare',
 'Halsband',
 'Hand',
 'Handball',
 'Handbremse',
 'Handstand',
 'Handtasche',
 'Handtuch',
 'Hantel',
 'Harry Potter',
 'Hase',
 'Headset',
 'Heft',
 'Helm',
 'Henker',
 'Hochkant',
 'Hocker',
 'Horror',
 'Hose',
 'Jojo',
 'Kamm',
 'Kampf',
 'Katapult',
 'Kaugummi',
 'Kegel',
 'Kerze',
 'Kino',
 'Kissenbezug',
 'Kissenschlacht',
 'Klarinette',
 'Klavier',
 'Kleiderbügel',
 'Klingel',
 'Klopapier',
 'Knopf',
 'Kopftuch',
 'Krabbe',
 'Krampf',
 'Kuckkuck',
 'Kugel',
 'Kunst',
 'Kuscheltier',
 'La Ola Welle',
 'Lampe',
 'Lappen',
 'Laserschwert',
 'Lesebrille',
 'Liebe',
 'Links',
 'Loch',
 'Lotussitz',
 'Luftpumpe',
 'Lunge',
 'Läuse',
 'Löffel',
 'Lücke',
 'Maske',
 'Meerjungfrau',
 'Mitleid',
 'Mund',
 'Musik',
 'Mücke',
 'Mülltonne',
 'Mütze',
 'Nase',
 'Nunchaku',
 'Opersänger',
 'Orangensaft',
 'Oval',
 'PC',
 'Parfüm',
 'Partner',
 'Pfeffer',
 'Pferd',
 'Pferdeschwanz',
 'Pinguin',
 'Pipette',
 'Pistole',
 'Pizza',
 'Pony',
 'Popcorn',
 'Quadrat',
 'Quartett',
 'Querflöte',
 'Querformat',
 'Radiergummi',
 'Rahmen',
 'Rammbock',
 'Rasierer',
 'Reagenzglas',
 'Rebellion',
 'Reißverschluss',
 'Revolution',
 'Riese',
 'Ring',
 'Ringelschwänzchen',
 'Rollator',
 'Rolle',
 'Roller',
 'Rose',
 'Rosenhecke',
 'Rucksack',
 'Rüherei',
 'Salz',
 'Saxophon',
 'Schal',
 'Schalter',
 'Schatten',
 'Schere',
 'Schiebetür',
 'Schild',
 'Schlagring',
 'Schlagstock',
 'Schlagzeug',
 'Schlange',
 'Schlüsselloch',
 'Schneewitchen',
 'Schnurrbart',
 'Schnürrsenkel',
 'Schrottflinte',
 'Sechseck',
 'Seife',
 'Seifenblasen',
 'Seil',
 'Silvester',
 'Skalpell',
 'Skateboard',
 'Socke',
 'Star Trek',
 'Star Wars',
 'Statue',
 'Staubsauger',
 'Streichholz',
 'Strich',
 'Swing',
 'Tal',
 'Tanz',
 'Tasche',
 'Tastatur',
 'Teufel',
 'Ticket',
 'Tiger',
 'Toilette',
 'Topmodel',
 'Trainer',
 'Trapez',
 'Trauzeuge',
 'Trompete',
 'Turm',
 'Uhr',
 'Umhang',
 'Urkunde',
 'Urmensch',
 'Vampir',
 'Viereck',
 'Vogel',
 'Vollbart',
 'Volleyballnetz',
 'Vorspiel',
 'Vorwurf',
 'Waschbecken',
 'Wasser',
 'Wasserball',
 'Wassermann',
 'Wecker',
 'Weihnachtsmütze',
 'Wein',
 'Weinglas',
 'Welle',
 'Werwolf',
 'Weste',
 'Windrad',
 'Wäscheklammer',
 'Wäscheleine',
 'Yoga',
 'Zahn',
 'Zahnbürste',
 'Zahnpasta',
 'Zahnrad',
 'Zauberwürfel',
 'Zeitschleife',
 'Zeitung',
 'Ziegenbart',
 'Ziel',
 'Zombie',
 'Zucker',
 'Zyklop',
 'Zylinder',
 'abschätzen',
 'angeben',
 'besoffen',
 'entern',
 'fröhlich',
 'goldene 20er',
 'kochen',
 'lesen',
 'melanchonisch',
 'mobben',
 'oben',
 'rechts',
 'reiten',
 'rund',
 'sieben',
 'stehen',
 'steppen',
 'treten',
 'unten',
 'verstrahlt',
 'zentriert',
 'zocken',
 'ärgern',
 'überlegen',
 'überschlagen',
 'übertreiben']

get words with initial letter

In [8]:
scharade.get_words_with_initial_letter("standard", "C")

['CD',
 'Cabrio',
 'Camouflage',
 'Charts',
 'Chat',
 'Chemie',
 'Chemiker',
 'Chilli',
 'Choreografie',
 'Clanchef',
 'Clown',
 'Club',
 'Coach',
 'Cocktail',
 'Cocktailtomaten',
 'Comics',
 'Creme',
 'Crepes',
 'Cyborg']

get frequency of words for letters

In [9]:
scharade.get_frequency_of_initial_letter("standard")

{'A': 63,
 'B': 75,
 'C': 19,
 'D': 39,
 'E': 37,
 'F': 53,
 'G': 42,
 'H': 53,
 'I': 21,
 'J': 13,
 'K': 82,
 'L': 48,
 'M': 57,
 'N': 24,
 'O': 23,
 'P': 74,
 'Q': 21,
 'R': 53,
 'S': 142,
 'T': 65,
 'U': 19,
 'V': 34,
 'W': 51,
 'X': 1,
 'Y': 3,
 'Z': 39}

get list of difficulties that appear in the sets combination after droping duplicated words (keep first)

In [10]:
scharade.get_difficulties_sets("standard")

[1, 2, 4, 8, 16]

### **4. step:** change data in *Scharade* class object **(does not change the data files)**

add word

In [11]:
scharade.add_word("standard", word="Selbstbild", difficulty=16)

In [12]:
scharade.get_df("standard")

             WORD  DIFFICULTY
0             Aal           2
1          Abgase           2
2          Abitur           2
3          Ablauf           2
4     Ablufthaube           4
...           ...         ...
1286  übertreiben           1
1287  α-Strahlung           8
1288  β-Strahlung           8
1289  γ-Strahlung           8
1290   Selbstbild          16

[1291 rows x 2 columns]

change difficulty of existing word with **add_word** method

In [13]:
scharade.add_word("standard", word="Selbstbild", difficulty=2)

INFO: word already exists --> overwrite difficulty

In [14]:
scharade.get_df("standard")

             WORD  DIFFICULTY
0             Aal           2
1          Abgase           2
2          Abitur           2
3          Ablauf           2
4     Ablufthaube           4
...           ...         ...
1286  übertreiben           1
1287  α-Strahlung           8
1288  β-Strahlung           8
1289  γ-Strahlung           8
1290   Selbstbild           2

[1291 rows x 2 columns]

delete words

In [15]:
scharade.delete_word("standard", "Selbstbild")

In [16]:
scharade.get_df("standard")

              WORD  DIFFICULTY
0              Aal           2
1           Abgase           2
2           Abitur           2
3           Ablauf           2
4      Ablufthaube           4
...            ...         ...
1285  überschlagen           1
1286   übertreiben           1
1287   α-Strahlung           8
1288   β-Strahlung           8
1289   γ-Strahlung           8

[1290 rows x 2 columns]

### **5. step:** update data files

You can update the data files with the changes you made in the class object. Before doing so, look through the data report and check if the data is fine.

In [17]:
scharade.update_data_files()

Do you want to save the following data? (yes/no)
data contains ['standard'] scharade sets
    standard:
        total words: 1290
        words per difficulty:
            diff 1: 276
            diff 2: 503
            diff 4: 367
            diff 8: 131
            diff 16: 13
answer:
process stopped

### **6 step:** generate round

**sets** default is **"all"**, change it to use your prefered word set (list of sets or name of set)

**min_difficulty** default is **"min"**, change it to avoid too easy words

**max_difficulty** default is **"max"**, change it to avoid too hard words

In [18]:
scharade.generate_round(sets="all", min_difficulty="min", max_difficulty="max")

                WORD DIFFICULTY
0               Pink          8
1               blas          2
2           Bewegung          2
3       Ferienbeginn          4
4           Internet          4
...              ...        ...
1285         Spießer          4
1286            Tanz          1
1287            Sand          2
1288  Quereinsteiger          2
1289      Zwickmühle          4

[1290 rows x 2 columns]

In [19]:
scharade.generate_round(sets="standard", min_difficulty=2, max_difficulty=4)

                    WORD DIFFICULTY
0                   Löwe          2
1                 Kreide          2
2           Neandertaler          2
3                 Krimie          2
4                  Feige          4
..                   ...        ...
865            Forschung          4
866           Klospülung          2
867           Teamleiter          2
868  Relativitätstheorie          4
869         Zwischenziel          2

[870 rows x 2 columns]